// Device tree overlay for GPIO-based proximity sensor.
/dts-v1/;
/plugin/;
/ {
	compatible = "brcm,bcm2835", "brcm,bcm2708", "brcm,bcm2709";

	fragment@0 {	
		target-path = "/";
		__overlay__ {
			keypad: proximity {
				compatible = "gpio-keys";
				#address-cells = <1>;
				#size-cells = <0>;
				proximity@17 {
					label = "proximity detection";
					linux,code = <61>;		/* F3 Key */
					gpios = <&gpio 17 1>;		/* GPIO 17 */
					wakeup-source;
				};
			};
		};
	};
};
